# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

/.pnp
.pnp.js

# testing
/coverage

# auxillary data and api for seeding
/src/auxillary
# check the path before implementing this!!! /pages/api/seed.js
# IMPLEMENT CLIENT DIRECTORY VIA CREATE-REACT-APP!!!

# local env files
.env*.local
.env

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
